{% extends 'base.html' %}

{% block content %}
<!-- Load from unpkg -->
<script src="https://unpkg.com/htmx.org@1.7.0"></script>

{% for track in track_list %}
{% for colname in track.column_set.all %}
<p>{{colname}}</p>
{% endfor %}
{% endfor %}

<div class="container d-flex mt-5" style="width: 70%;">
    <div class="col">
    <h1 class="text-center">SIS Track Spart Part</h1>
    <table class="table table table-striped mt-5">
        <thead>
            <tr>
                {% comment %} <th>#</th> {% endcomment %}
                <th class="text-center" scope="col">Work Order</th>
                <th class="text-center" scope="col">Equipment Name</th>
                <th class="text-center" scope="col">Serial Number</th>
                <th class="text-center" scope="col">Failure Code</th>
                <th class="text-center" scope="col">Action Code</th>
                <th class="text-center" scope="col">Cause Code</th>
                <th class="text-center" scope="col">Work Date</th>
                <th class="text-center" scope="col">Date Compleate</th>
                <th class="text-center" scope="col">Remark</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for track in track_list %}
            <tr>
                {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}
                <td class="ml-5"><a href="{% url 'tracks:track_detail' track.id %}">{{track.workOrder}}</a></td>
                <td class="text-center">{{track.equipmentName}}</td>
                <td class="text-center">{{track.serialNumber}}</td>
                <td class="text-center">{{track.failureCode}}</td>
                <td class="text-center">{{track.actionCode}}</td>
                <td class="text-center">{{track.causeCode}}</td>
                <td class="text-center">{{ track.workDate | date:'d-m-Y' }}</td> 
                <td class="text-center">{{ track.compleateDate | date:'d-m-Y' }}</td> {% comment %} update format date "date:'d-m-Y'" {% endcomment %}
                {% if track.remark == None %}
                    <td class="text-center"></td>
                {% else %}
                    <td class="text-center">{{track.remark}}</td>
                {% endif %}
                <td><a href="{% url 'tracks:track_update' track.id %} ">Update</a></td>
                <td><a href="{% url 'tracks:track_delete' track.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <a href="{% url 'tracks:track_create' %}" class="d-block btn btn-primary btn-lg my-5">Add New</a>
    </div>
    </div>
</div>
    


{% endblock content %}
