<!DOCTYPE HTML>
<html lang="en">

<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

{% block title %}
    {% if title %}
        <title>{{title}} | My Tracks</title> 
    {% else %}
        <title>My Data Table</title>
    {% endif %}
{% endblock title %}

{% block head %}
{% endblock head %}
    
</head>

<body>

<div class="container-fluid">
    
    <!-- NAVIGATION BAR -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="d-flex justify-content-between px-5 mx-auto" style="width: 80%;">
            <span class="navbar-text text-white">Track Spare parts</span>
            <ul class="navbar-nav mr-auto">

                
                <!-- 
                ##
                ## UNCOMMENT THESE LINES IF YOU HAVE A FUNCTIONAL CRUD FOR THE GENRE MODEL 
                ## CHANGE ALSO THE URL INFO 'films:all' to 'films:genre_all'     
                
                -->

                {% if user.is_authenticated %}
                
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'logout' %}?next={{next}}">Logout</a>
                </li>
                
                {% else %}
                
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'login' %}?next={{next}}">Login</a>
                </li>
                
                {% endif %}

            </ul>
        </div>
    </nav>

    <!-- END OF NAVIGATION BAR -->

</div>

{% block content %}
{% endblock content %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>